<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Overheads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Overheads.Properties.Settings>
            <setting name="Fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeShortcutEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximizeToSecondary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
        </Overheads.Properties.Settings>
    </userSettings>
</configuration>
